body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:0;
    padding:0;
    background:#fff;
    color:#222;
}

header{
    text-align: center;
    padding: 20px;
    background-color: #6d7b6d;
    color:white;
}

nav ul{
    list-style:none;
    padding:0; 
    display:flex;
    justify-content:center;
    gap:1rem;

}

nav a{
    margin:0 10px;
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    text-decoration:underline;
}

.intro {
    background-image: url(images/scenery.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem;
    color: white;
    border-radius: 10px;
  }
  
  section{
    padding: 2rem;
  }
  
  footer{
    text-align: center;
    padding: 1rem;
    background-color: #f0f0f0;
  }