body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:0;
    padding:0;
    background:#fff;
    color:#222;
}

header{
    text-align: center;
    padding: 20px;
    background-color: #649c64;
    color:white;
}
.intro {
    background-image: url(images/scenery.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem;
    color: white;
    border-radius: 10px;
  }
  
  