.intro {
    background-image: url(images/scenery.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem;
    color: white;
    border-radius: 10px;
  }
  